$red: #f44747;
$pink: #e06c75;
$orange: #d19a66;
$yellow: #e5c07b;
$green: #98c379;
$aqua: #56b6c2;
$blue: #61afef;
$purple: #c678dd;

$dark: #272727;
$darkGrey: #2a2a2a;
$mediumGrey: #808080;
$lightGrey: #cccccc;
$light: #f5f5f5;


* {
  color: $light;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: $darkGrey;
}

.container {
  width: 70%;
  margin: auto;
}

nav {
  width: 100%;
  height: 40px;
  background: $dark;
  padding: 15px 0;
  text-align: center;
  line-height: 40px;
  font-size: 1.25em;
  border-bottom: black solid 1px;
}

button {
  color: $dark;
}

#content {
  background: $dark;
  padding: 15px;
}

.task {
  border: solid 1px $mediumGrey;
  padding: 8px;
  margin-top: 8px;
  $rowHeight: 17px;
  height: ($rowHeight + 8) * 2 + 8px;
  border-radius: 5px;
  
  .row {
    margin-bottom: 8px;
    height: $rowHeight;

    * {
      display: inline-block;
    }
  }
  
  .checkbtn {
    width: $rowHeight;
    height: $rowHeight;
    border-radius: 5px;
    border: 1px $mediumGrey solid;
    background-color: $darkGrey;
    transition: background 0.1s ease-out;
    margin-right: 12px;
    padding-left: 3.5px;

    &:hover {
      background-color: $mediumGrey;
    }
  }

  .task_name {
    font-size: $rowHeight;
    margin-right: 12px;
  }

  .task_flag {
    border-radius: 5px;
    border: solid 1px $mediumGrey;
    padding: 5px 8px;
    margin-right: 12px;


    .content {
      font-size: small;
    }
  }

  &.completed .task_name {
    text-decoration-line: line-through;
  }
}

.icon {
  margin-right: 8px;
}

.icon-date {
  @extend .icon;
}

.icon-cross {
  @extend .icon;

  * {
    color: $darkGrey;
  }
}

.newTaskBtn {
  $size: 40px;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 1px solid $mediumGrey;
  background-color: transparent;
  color: $mediumGrey;
  font-size: $size - 5;
  margin-top: 8px;
  transition: background 0.1s ease-in-out;

  &:hover {
    background-color: $mediumGrey;
    color: $darkGrey;
  }
}